<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      French Slang
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header> -->

  <!-- <app-explore-container name="Tab 1 page"></app-explore-container> -->
  <ion-card *ngFor='let i of collection'>
    <ion-card-header>
      <div style='display:flex; justify-content: space-between;
    align-items: center;'>
        <ion-card-title>{{i.french}}</ion-card-title>
      <ion-icon name="bookmark-outline" style='font-size:1.6rem' ></ion-icon>
      </div>


    </ion-card-header>

    <ion-card-content>
      {{i.english}}
    </ion-card-content>
    <ion-card-content>
      <div>

        <ion-icon name="thumbs-up-sharp" (click)='onLike(i)' [ngClass]="{'liked': i.isLiked}"></ion-icon>
        {{i.likes}}
      </div>

    </ion-card-content>
  </ion-card>
</ion-content>
