<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
     Your Saved Words
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <form *ngIf='tabAlreadySaved.length > 0'>
    <ion-item>
      <ion-input
      name='research'
      [(ngModel)]='inputValue'
      (keyup)='onSubmit()'
      fill="solid"
      label="Search from your favorites"
      placeholder="Enter text"
      labelPlacement="stacked"
      (ngModelChange)='onInputChange()'
      [clearInput]="true"></ion-input>
    </ion-item>
    <!-- <ion-button (click)='onSubmit()'>Search</ion-button> -->
  </form>

  <ng-container *ngIf='isEmpty'>
    <ion-item>
      No matching word !
    </ion-item>
  </ng-container>

  <!-- réponse du localstorage -->
<ng-container *ngIf='!this.filteredTab || filteredTab.length === 0 && !isEmpty'>
    <ion-card *ngFor='let i of tabAlreadySaved'>
    <ion-card-header>
      <div style='display:flex; justify-content: space-between;
          align-items: center;'>
      <ion-card-title>{{i.french}}</ion-card-title>
      <ion-icon name="trash-bin-outline" style='font-size:1rem' (click)='onDelete(i)'>
      </ion-icon>
      </div>
    </ion-card-header>

    <ion-card-content>
      {{i.english__1}}
    </ion-card-content>
  </ion-card>
</ng-container>

<!-- réponse filtrée -->
  <ng-container *ngIf='this.filteredTab.length > 0 && !isEmpty'>
    <ion-card *ngFor='let i of filteredTab'>
      <ion-card-header>
        <div style='display:flex; justify-content: space-between;
            align-items: center;'>
          <ion-card-title>{{i.french}}</ion-card-title>
          <ion-icon name="trash-bin-outline" style='font-size:1rem' (click)='onDelete(i)'>
          </ion-icon>
        </div>
      </ion-card-header>

      <ion-card-content>
        {{i.english__1}}
      </ion-card-content>
    </ion-card>
  </ng-container>

<!-- quand absence de localstorage -->
  <app-explore-container name="Tab 3 page" *ngIf='!tabAlreadySaved || tabAlreadySaved.length === 0'>
    <ion-icon name="folder-open" style="font-size: 2rem"></ion-icon>
    <h2 style="font-size: 2rem">Empty for the moment</h2>
    <ion-button routerLink='/tabs/tab1'>Go check new words</ion-button>
  </app-explore-container>
</ion-content>
