<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
     Your Saved Words
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-card *ngFor='let i of tabAlreadySaved'>
    <ion-card-header>
      <ion-card-title>{{i.french}}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      {{i.english__1}}
    </ion-card-content>
  </ion-card>

  <app-explore-container name="Tab 3 page" *ngIf='!tabAlreadySaved || tabAlreadySaved.length === 0'>
    <ion-icon name="folder-open" style="font-size: 2rem"></ion-icon>
    <h2 style="font-size: 2rem">Empty for the moment</h2>
    <ion-button routerLink='/tabs/tab1'>Go check new words</ion-button>


  </app-explore-container>
</ion-content>
